In [2]:
import numpy as np
import pandas as pd

In [3]:
DIR = "../AnalysisData/"

In [55]:
weather = pd.read_table(f"{DIR}weather.txt", header=None)
weather = weather[1668:1701]

weather = weather[0].str.split(' ', expand=True)
weather[0] = weather[0].str.split('-9999', expand=True)
nan_value = float("NaN")
weather.replace(["0", "-9999", "S", "S-9999"], nan_value, inplace=True)
weather.dropna(axis=1, how='any', thresh=None, subset=None, inplace=True)

weather = weather.reset_index(drop=True)
weather.columns = range(weather.shape[1])

weather['Year'] = weather[0].str.slice(11,15)
weather['Month'] = weather[0].str.slice(15,17)
weather['Element'] = weather[0].str.slice(17,21)
weather[0] = weather[0].str.slice(stop=11)
weather.rename(columns={0: 'Id', 1: 'd1', 2: 'd2', 3: 'd3', 4: 'd4'}, inplace=True)
weather = weather[[weather.columns[0], *weather.columns[5:8], *weather.columns[1:5]]]
weather.iloc[:, 4:] = weather.iloc[:, 4:].apply(pd.to_numeric, errors='coerce')
#weather.replace(np.nan, '-', inplace=True)
weather.iloc[:, 4:].divide(10)




weather.head()

            Id  Year Month Element   d1   d2   d3   d4
0  MX000017004  2010    01    TMAX  NaN  NaN  NaN  NaN
1  MX000017004  2010    01    TMIN  NaN  NaN  NaN  NaN
2  MX000017004  2010    01    PRCP  NaN  NaN  NaN  NaN
3  MX000017004  2010    02    TMAX  NaN  NaN  273  NaN
4  MX000017004  2010    02    TMIN  NaN  NaN  144  NaN